@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 100%;
	margin: 0;
	background-color: var(--palette-bg-black);
	color: var(--palette-bg-white);
	font-family: Inter, sans-serif;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #aebdf3 #ebebeb;
}

.ockConnectWallet_Container span {
	color: #030712;
}

/* i believe this is necessary because 
of a div added by rainbowkit provider */
body > div {
	height: 100%;
	max-width: 100vw;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.templateSection > div {
	max-width: 100%;
}

.sidebar-link.active {
	background: #aebfff66;
	border-color: #00229e;
	color: #00229e;
}
